.bottone {
    cursor: pointer;
    height: 30px;
    margin-left: 50%;


}

.lamp-box {
    display: flex;
    justify-content: center;
    margin-top: 300px;

}

.lampadina-accesa {
    opacity: 0;
    z-index: 2;
}

.lampadina-spenta {
    z-index: 1;
}

.lampadina-accesa.show {
    opacity: 1;
}

.lampadina-spenta.hide {
   opacity: 0;
}